@charset "UTF-8";
/* cores não usadas: #4B4D68 e  #E2F2EA */


* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(90deg, #F5C7DA, #C6A6C2);
}

main {
    background-color: #F8F4EB;
    border-radius: 20px;
    box-shadow: 12px 12px 25px #807d79a9;
    width: 66%;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #2f3042;
}

h1, h2 {
    color: #4B4D68;
}

p {
    text-align: justify;
}